<div class="f-page f-page-card f-page-is-mainsubcard f-page-is-sidescrollspy" id="root-layout" *ngIf="true">
	<div class="f-page-header" id="page-header" *ngIf="true">
		<div class="f-page-header-base" id="header-nav" *ngIf="true">
			<div class="f-title" id="header-title-container" *ngIf="true"><span class="f-title-icon f-text-orna-bill"><i
						class="f-icon f-icon-page-title-record"></i></span>
				<h4 class="f-title-text">报销单</h4>
				<h5 class="f-title-subtitle">单据编号：{{viewModel.bindingData.getValue(['code'])}},
					报销金额：{{viewModel.bindingData.getValue(['totalSum'])}}</h5>
				<div class="f-title-status">
					<span *ngIf="viewModel.bindingData.getValue(['billState','billState'])=== 'Billing'"
						class="badge badge-success">制单</span>
					<span *ngIf="viewModel.bindingData.getValue(['billState','billState'])=== 'SubmitApproval'"
						class="badge badge-success">提交审批</span>
					<span *ngIf="viewModel.bindingData.getValue(['billState','billState'])=== 'Approved'"
						class="badge badge-success">审批通过</span>
					<span *ngIf="viewModel.bindingData.getValue(['billState','billState'])=== 'ApprovalNotPassed'"
						class="badge badge-success">审批不通过</span>
					<span *ngIf="viewModel.bindingData.getValue(['billState','billState'])=== 'Abort'"
						class="badge badge-success">流程终止</span>
				</div>
				<div class="f-title-pagination ">
					<span class="f-icon f-icon-arrow-w"
						[ngClass]="{ 'f-state-disabled':!viewModel.stateMachine['canEdit']}"
						(click)="viewModel.stateMachine[ 'canEdit']&&viewModel.ChangeItem1()"></span>
					<span class="f-icon f-icon-arrow-e"
						[ngClass]="{ 'f-state-disabled':!viewModel.stateMachine['canEdit']}"
						(click)="viewModel.stateMachine[ 'canEdit']&&viewModel.ChangeItem2()"></span>
				</div>
			</div>
			<f-response-toolbar class="col-7 f-toolbar" id="page-header-toolbar" #responsebar
				[datas]="pageHeaderToolbarToolbarItems" [btnState]="pageHeaderToolbarToolbarItemsStates"
				[btnVisible]="pageHeaderToolbarToolbarItemsVisibleStates"
				(rtClickEvent)="pageHeaderToolbarClickHandler($event)" *ngIf="true"></f-response-toolbar>
		</div>
	</div>
	<div class="f-page-main h-100" id="main-container" *ngIf="true">
		<farris-scrollspy id="scrollspy" [scrollspyData]="ScrollspyItemsscrollspy"
			[currentSectionId]="ScrollspyCurrentSectionscrollspy" [hidden]="!true" [fFollowType]="'side'">
		</farris-scrollspy>
		<div class="f-scrollspy-content d-block" id="scrollspy-container" fScrollSpyContainer="" [fOffset]="0"
			*ngIf="true">
			<div class="f-struct-like-card" id="like-card-container" *ngIf="true">
				<app-basicformcomponent></app-basicformcomponent>
				<app-fybxdc5mpcomponent></app-fybxdc5mpcomponent>
				<div class="f-struct-wrapper" id="detail-container-fybxdmx" *ngIf="true">
					<farris-section class="f-section-in-mainsubcard" id="section-fybxdmx" [index]="index"
						[expandStatus]="true" [mainTitle]="SectionsectionfybxdmxMainTitle"
						[subTitle]="SectionsectionfybxdmxSubTitle" [fill]="false" [showHeader]="true"
						[enableMaximize]="false" *ngIf="true" [fScrollSpy]="'section-fybxdmx'">
						<ng-template farrisSectionHcontent>
							<div class="text-right">
								<button class="btn btn-secondary f-btn-ml" id="fybxdmx-button-add"
									[disabled]="!viewModel.stateMachine['canAddDetail']"
									(click)="viewModel.fybxdmxComponentViewmodel.fybxdmxAddItem1()">新增</button>
								<button class="btn btn-secondary f-btn-ml" id="fybxdmx-button-remove"
									[disabled]="!viewModel.stateMachine['canRemoveDetail']"
									(click)="viewModel.fybxdmxComponentViewmodel.fybxdmxRemoveItem1()">删除</button>
							</div>
						</ng-template>
						<app-fybxdmxcomponent></app-fybxdmxcomponent>
					</farris-section>
				</div>
				<div class="f-struct-wrapper" id="detail-container-fxbxdfj" *ngIf="true">
					<farris-section class="f-section-in-mainsubcard" id="section-fxbxdfj" [index]="index"
						[expandStatus]="true" [mainTitle]="SectionsectionfxbxdfjMainTitle"
						[subTitle]="SectionsectionfxbxdfjSubTitle" [fill]="false" [showHeader]="true"
						[enableMaximize]="false" *ngIf="true" [fScrollSpy]="'section-fxbxdfj'">
						<ng-template farrisSectionHcontent>
							<div class="text-right">
								<button class="btn btn-secondary f-btn-ml" id="fxbxdfj-button-add"
									[disabled]="!viewModel.stateMachine['canAddDetail']"
									(click)="viewModel.fxbxdfjComponentViewmodel.fxbxdfjcomponentviewmodelUploadAndBatchAddRows1()">上传</button>
								<button class="btn btn-secondary f-btn-ml" id="fxbxdfj-button-remove"
									[disabled]="!viewModel.stateMachine['canRemoveDetail']"
									(click)="viewModel.fxbxdfjComponentViewmodel.fxbxdfjcomponentviewmodeldownload1()">下载</button>
								<button class="btn btn-secondary f-btn-ml" id="fxbxdfj-button-add"
									[disabled]="!viewModel.stateMachine['canAddDetail']"
									(click)="viewModel.fxbxdfjComponentViewmodel.fxbxdfjcomponentviewmodelBatchDownloadByDataIds1()">批量下载</button>
								<button class="btn btn-secondary f-btn-ml" id="fxbxdfj-button-remove"
									[disabled]="!viewModel.stateMachine['canRemoveDetail']"
									(click)="viewModel.fxbxdfjComponentViewmodel.fxbxdfjcomponentviewmodelPreviewByAttachmentInfoFieldPath1()">预览</button>
							</div>
						</ng-template>
						<app-fxbxdfjcomponent></app-fxbxdfjcomponent>
					</farris-section>
				</div>
			</div>
		</div>
	</div>
</div>